
.date-row {
    width: 380px;
    display: inline;
    float: left;
}
.red {
 background-color: #b74040;
}
.red:hover {
 background-color: #cb9292;
}

.blue {
    background-color:  #2aa8ce;
}
.blue:hover{
    background-color: #75bed4;
}

.green{
    background-color: rgb(64, 190, 161);
}
.green:hover{
    background-color: rgb(127, 181, 169);
}

.hide{
visibility: hidden ;
display: none;
}
.body-row {
    width: 500px;
    display: inline;
    float: left;
}

.title {
    width: 200px;
    height: 50px;
    text-align: center;
    -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
/*    top:15px;*/
/*    bottom: 10px;*/
/*    margin-top: 10px;*/
    margin-bottom: 20px;
    
    display: inline;
    float: left;
}

.day {
    width: 80px;
    display: inline;
    float: left;
}

.header {
    color : #207ad4;
    font-size: 40px;
    text-align: center;
}

.body {
    width: 500px;
    background-color: #edd4e3;
}

body {
    width: 1000px;
    
}

.title-bo {
    position: relative;
    top:5px;
    left: 5px;
    width: 180px;
}

p {
    text-indent: 10px;
}

.body img {
    width: 480px;
}



.day-con {
    width: 380px;
    
    height: 100px
}

.t-con {
    width: 300px;
}

.bo-two {
    height: 70px;
}

.select {
    height: 50px;
}

.select-topic {
    float: right;
    margin-right: 20px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
